{# @var ReiffIntegrations\Sap\Struct\OrderDetailStruct order #}
{% block reiff_order_detail %}
    {% set order = page.order %}
    {% block reiff_order_detail_container %}
        <div>
            {% block reiff_order_detail_overview %}
                <h3>{{ order.customer }}</h3>
            {% endblock %}

            <div class="order-main-info">
                {% block reiff_order_detail_addresses %}
                    <div>
                        {% for address in order.addresses.elements %}
                            {% block reiff_order_detail_address %}
                                {% if address.type == 'SHIP_TO' %}
                                    <h5>{{ ('ReiffIntegrations.customer.orders.address.types.' ~ address.type) | trans }}</h5>
                                    <p>
                                        {{ address.name }}<br>
                                        {{ address.street }}<br>
                                        {{ address.zip }} {{ address.city }}<br>
                                        {{ address.country }}
                                    </p>
                                {% endif %}
                            {% endblock %}
                        {% endfor %}
                    </div>
                {% endblock %}
                {% block reiff_order_detail_documents %}
                    <div>
                        {% block reiff_order_detail_documents_invoices %}
                            {% set invoiceDocuments = order.documents.filterByType(constant('ReiffIntegrations\\Sap\\Struct\\OrderDocumentCollection::DOCUMENT_TYPE_INVOICE')) %}
                            {% if invoiceDocuments.count > 0 %}
                                <h5>{{ 'ReiffIntegrations.customer.orders.documents.invoiceTitle' | trans }}</h5>

                                <ul>
                                    {% for invoice in invoiceDocuments|reverse %}
                                        {% block reiff_order_detail_documents_invoice %}
                                            <li><a class="ignore--b2b-ajax-panel" href="{{ url('frontend.b2b.orders.detail.invoice', { orderNumber: order.number, documentType: constant('ReiffIntegrations\\Sap\\Controller\\Storefront\\OrdersController::DOCUMENT_TYPE_INVOICE'), documentNumber: invoice.documentNumber }) }}">{{ invoice.documentNumber }}</a> ({{ invoice.documentDate|format_date('medium', locale=app.request.locale) }})</li>
                                        {% endblock %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endblock %}
                    </div>
                    <div>
                        {% block reiff_order_detail_documents_deliveries %}
                            {% set deliveryDocuments = order.documents.filterByType(constant('ReiffIntegrations\\Sap\\Struct\\OrderDocumentCollection::DOCUMENT_TYPE_DELIVERY')) %}
                            {% if deliveryDocuments.count > 0 %}
                                <h5>{{ 'ReiffIntegrations.customer.orders.documents.deliveryTitle' | trans }}</h5>

                                <ul>
                                    {% for delivery in deliveryDocuments|reverse %}
                                        {% block reiff_order_detail_documents_delivery %}
                                            <li>
                                                <a class="ignore--b2b-ajax-panel" href="{{ url('frontend.b2b.orders.detail.invoice', { orderNumber: order.number, documentType: constant('ReiffIntegrations\\Sap\\Controller\\Storefront\\OrdersController::DOCUMENT_TYPE_DELIVERY'), documentNumber: delivery.documentNumber }) }}">{{ delivery.documentNumber }}</a> ({{ delivery.documentDate|format_date('medium', locale=app.request.locale) }})
                                                {% if delivery.urls|length > 0 %}
                                                    <ul>
                                                        {% for trackingUrl in delivery.urls %}
                                                            <li>
                                                                <a class="ignore--b2b-ajax-panel" target="_blank" href="{{ trackingUrl }}">
                                                                    {% sw_icon 'box-solid' style {
                                                                        'namespace': 'ReiffIntegrations'
                                                                    } %}
                                                                    {{ 'ReiffIntegrations.customer.orders.documents.trackingLabel' | trans }}
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endblock %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>

            {% block reiff_order_detail_items %}
                <div>
                    <table class="table order-positions-table">
                        <thead>
                        <tr>
                            <th>{{ 'account.orderItemColumnName' | trans }}</th>
                            <th>{{ 'account.orderItemColumnNumber' | trans }}</th>
                            <th>{{ 'account.orderItemColumnQuantity' | trans }}</th>
                            <th>{{ 'account.orderItemColumnTotal' | trans }}</th>
                            <th>
                                {% block component_product_box_action_buy_all %}
                                    {% set formAction = path('frontend.checkout.line-item.add') %}
                                    {% set displayBtn = false %}

                                    <form action="{{ formAction }}"
                                          method="post"
                                          class="buy-widget buy-widget-by-number ignore--b2b-ajax-panel"
                                          data-add-to-cart="true">

                                        <input type="hidden" name="redirectTo" value="frontend.cart.offcanvas">
                                        <input type="hidden" name="redirectParameters" data-redirect-parameters="false" disabled>

                                        {% block component_product_box_action_form_all %}
                                            {% block page_product_detail_buy_product_buy_info_all %}
                                                {% for lineItem in order.lineItems %}
                                                    {% if lineItem.productId %}
                                                        {% set displayBtn = true %}

                                                        <input type="hidden" name="lineItems[{{ lineItem.productId }}][quantity]" value="1" maxlength="7">
                                                        <input type="hidden" name="lineItems[{{ lineItem.productId }}][id]" value="{{ lineItem.productId }}">
                                                        <input type="hidden" name="lineItems[{{ lineItem.productId }}][type]" value="product">
                                                        <input type="hidden" name="lineItems[{{ lineItem.productId }}][referencedId]" value="{{ lineItem.productId }}">
                                                        <input type="hidden" name="lineItems[{{ lineItem.productId }}][stackable]" value="1">
                                                        <input type="hidden" name="lineItems[{{ lineItem.productId }}][removable]" value="1">
                                                    {% endif %}
                                                {% endfor %}
                                            {% endblock %}

                                            {% block page_product_detail_product_buy_button_all %}
                                                {% if displayBtn == true %}
                                                    <button type="submit"
                                                            class="btn btn-primary btn-block btn-buy table-buy-btn ignore--b2b-ajax-panel"
                                                            title="{{ "ReiffIntegrations.customer.orders.addAll"|trans|sw_sanitize }}"
                                                            aria-label="{{ "listing.boxAddProduct"|trans|striptags }}">
                                                        {% sw_icon 'basket' style {
                                                            'namespace': 'ReiffTheme'
                                                        } %}
                                                    </button>
                                                {% endif %}
                                            {% endblock %}
                                        {% endblock %}
                                    </form>
                                {% endblock %}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for lineItem in order.lineItems %}
                            {% block reiff_order_detail_item %}
                                <tr>
                                    <td>
                                        {{ lineItem.name }}
                                    </td>
                                    <td>
                                        {{ lineItem.productNumber }}
                                        {% if lineItem.customerProductNumber is not empty %}
                                            ({{ lineItem.customerProductNumber }})
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ lineItem.quantity }}
                                        {{ lineItem.unit }}
                                    </td>
                                    <td>
                                        {{ lineItem.netTotal|currency(order.currency) }}
                                    </td>
                                    <td>
                                        {% block component_product_box_action_buy %}
                                            {% if lineItem.productId %}
                                                {% set formAction = path('frontend.checkout.line-item.add') %}

                                                <form action="{{ formAction }}"
                                                      method="post"
                                                      class="buy-widget buy-widget-by-number"
                                                      data-add-to-cart="false">

                                                    <input type="hidden" name="redirectTo" value="frontend.cart.offcanvas">
                                                    <input type="hidden"
                                                           name="redirectParameters"
                                                           data-redirect-parameters="true"
                                                           value='{"productId": "{{ product.id }}"}'>

                                                    {% block component_product_box_action_form %}
                                                        {% block page_product_detail_buy_product_buy_info %}
                                                            <input type="hidden" name="lineItems[{{ lineItem.productId }}][quantity]" value="{{ lineItem.quantity }}">
                                                            <input type="hidden" name="lineItems[{{ lineItem.productId }}][id]" value="{{ lineItem.productId }}">
                                                            <input type="hidden" name="lineItems[{{ lineItem.productId }}][type]" value="product">
                                                            <input type="hidden" name="lineItems[{{ lineItem.productId }}][referencedId]" value="{{ lineItem.productId }}">
                                                            <input type="hidden" name="lineItems[{{ lineItem.productId }}][stackable]" value="1">
                                                            <input type="hidden" name="lineItems[{{ lineItem.productId }}][removable]" value="1">
                                                        {% endblock %}

{#                                                            {% block page_product_detail_product_buy_button %}#}
{#                                                                <button type="submit"#}
{#                                                                        class="btn btn-primary btn-block btn-buy table-buy-btn"#}
{#                                                                        title="{{ "listing.boxAddProduct"|trans|striptags }}"#}
{#                                                                        aria-label="{{ "listing.boxAddProduct"|trans|striptags }}">#}

{#                                                                    {% sw_icon 'add-to-basket' style {#}
{#                                                                        'namespace': 'ReiffTheme'#}
{#                                                                    } %}#}
{#                                                                </button>#}
{#                                                            {% endblock %}#}
                                                    {% endblock %}
                                                </form>

                                                {% block page_product_detail_product_buy_button %}
                                                    <a href="#" class="btn btn-primary btn-block btn-buy table-buy-btn"
                                                       title="{{ "listing.boxAddProduct"|trans|striptags }}"
                                                       aria-label="{{ "listing.boxAddProduct"|trans|striptags }}" data-b2b-add-to-cart="true">

                                                        {% sw_icon 'add-to-basket' style {
                                                            'namespace': 'ReiffTheme'
                                                        } %}
                                                    </a>
                                                {% endblock %}

                                            {% endif %}
                                        {% endblock %}
                                    </td>
                                </tr>
                            {% endblock %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
