{% sw_extends '@@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block base_content %}
    <div class="module-order" data-reiff-orders>
        {% block b2b_order %}
            <h1>{{ "b2b.Orders" | trans | sw_sanitize }}</h1>
            {% block reiff_order_filter %}
                <form>
                    {% set datePickerOptions = {
                        locale: app.request.locale,
                        maxDate: 'today',
                        enableTime: false,
                        rangeStartInput: constant('ReiffIntegrations\\Sap\\Page\\Orders\\OrdersPageLoader::PARAMETER_FROM_DATE'),
                        rangeEndInput: constant('ReiffIntegrations\\Sap\\Page\\Orders\\OrdersPageLoader::PARAMETER_TO_DATE'),
                        dateFormat: 'Y-m-d'
                    } %}
                    <label>
                        {{ 'ReiffIntegrations.customer.orders.filter.fromDate' | trans | sw_sanitize }}
                        <input type="text"
                               name="{{ constant('ReiffIntegrations\\Sap\\Page\\Orders\\OrdersPageLoader::PARAMETER_FROM_DATE') }}"
                               class="customDate"
                               value="{{ page.fromDate|date('Y-m-d') }}"
                               data-date-picker
                               data-date-picker-options="{{ datePickerOptions|json_encode|escape('html_attr') }}"
                        />
                    </label>
                    <label>
                        {{ 'ReiffIntegrations.customer.orders.filter.toDate' | trans | sw_sanitize }}
                        <input type="text"
                               name="{{ constant('ReiffIntegrations\\Sap\\Page\\Orders\\OrdersPageLoader::PARAMETER_TO_DATE') }}"
                               class="customDate"
                               value="{{ page.toDate|date('Y-m-d') }}"
                               data-date-picker
                               data-date-picker-options="{{ datePickerOptions|json_encode|escape('html_attr') }}"
                        />
                    </label>
                    <button type="submit" class="btn btn-primary">{{ 'general.formSubmit' | trans | sw_sanitize }}</button>
                </form>
            {% endblock %}
            {% block reiff_order_list %}
                {% if page.orders.count == 0 %}
                    {% block reiff_order_list_empty %}
                        {% if page.success %}
                            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                type: "warning",
                                content: "account.ordersInfoEmpty" | trans | sw_sanitize
                            } %}
                        {% else %}
                            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                type: "danger",
                                content: "ReiffIntegrations.customer.orders.error.noOrderResponse" | trans | sw_sanitize
                            } %}
                        {% endif %}
                    {% endblock %}
                {% else %}
                    {% for order in page.orders %}
                        {% block reiff_order_list_row %}
                            <div class="b2b-accordion">
                                <div class="b2b-accordion__title ajax-panel-link" data-bs-target="reiff-order-detail-{{ order.number }}" data-target="reiff-order-detail-{{ order.number }}" data-href="{{ path('frontend.b2b.orders.detail', { orderNumber: order.number }) }}">
                                    {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                                    {% block reiff_order_list_row_overview %}
                                        <span>
                                            {{ order.number }}
                                            {% if order.reference %}
                                                ({{ order.reference }})
                                            {% endif %}
                                            -
                                            {{ order.orderDate|format_date('medium', locale=app.request.locale) }}
                                        </span>
                                    {% endblock %}
                                </div>
                                <div class="b2b-accordion__body">
                                    <div
                                        class="b2b--ajax-panel"
                                        data-id="reiff-order-detail-{{ order.number }}"
                                        data-url=""
                                    ></div>
                                </div>
                            </div>
                        {% endblock %}
                    {% endfor %}
                {% endif %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
