{% sw_extends '@@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block base_content %}
    <div class="module-order" data-reiff-orders>
        {% block b2b_order %}
            <h1>{{ "b2b.Orders" | trans | sw_sanitize }}</h1>
            {% block reiff_order_filter %}
                <form>
                    {% set datePickerOptions = {
                        locale: app.request.locale,
                        maxDate: 'today',
                        enableTime: false,
                        rangeStartInput: constant('ReiffIntegrations\\Sap\\Page\\Orders\\OrdersPageLoader::PARAMETER_FROM_DATE'),
                        rangeEndInput: constant('ReiffIntegrations\\Sap\\Page\\Orders\\OrdersPageLoader::PARAMETER_TO_DATE'),
                        dateFormat: 'Y-m-d'
                    } %}
                    <label>
                        {{ 'ReiffIntegrations.customer.orders.filter.fromDate' | trans | sw_sanitize }}
                        <input type="text"
                               name="{{ constant('ReiffIntegrations\\Sap\\Page\\Orders\\OrdersPageLoader::PARAMETER_FROM_DATE') }}"
                               class="customDate"
                               value="{{ page.fromDate|date('Y-m-d') }}"
                               data-date-picker
                               data-date-picker-options="{{ datePickerOptions|json_encode|escape('html_attr') }}"
                        />
                    </label>
                    <label>
                        {{ 'ReiffIntegrations.customer.orders.filter.toDate' | trans | sw_sanitize }}
                        <input type="text"
                               name="{{ constant('ReiffIntegrations\\Sap\\Page\\Orders\\OrdersPageLoader::PARAMETER_TO_DATE') }}"
                               class="customDate"
                               value="{{ page.toDate|date('Y-m-d') }}"
                               data-date-picker
                               data-date-picker-options="{{ datePickerOptions|json_encode|escape('html_attr') }}"
                        />
                    </label>
                    <button type="submit" class="btn btn-primary">{{ 'general.formSubmit' | trans | sw_sanitize }}</button>
                </form>

                {% block reiff_order_search %}
                    {% if page.orders.count > 0 %}
                        <form class="b2b-order-search-form mt-2 mb-4">
                            <label>
                                {{ 'ReiffIntegrations.customer.orders.filter.searchLabel'|trans|sw_sanitize }}
                                <input type="text" class="b2b-order-search-input form-control" value="" />
                            </label>
                            <button type="reset"
                                    class="btn btn-secondary b2b-order-search-reset">
                                {{ 'ReiffIntegrations.customer.orders.filter.searchReset'|trans|sw_sanitize }}
                            </button>
                        </form>
                    {% endif %}
                {% endblock %}

            {% endblock %}

            {% block reiff_order_list %}
                {% if page.orders.count == 0 %}
                    {% block reiff_order_list_empty %}
                        <div class="py-2">
                            {% if page.success %}
                                {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                    type: "warning",
                                    content: "account.ordersInfoEmpty" | trans | sw_sanitize
                                } %}
                            {% else %}
                                {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                    type: "danger",
                                    content: "ReiffIntegrations.customer.orders.error.noOrderResponse" | trans | sw_sanitize
                                } %}
                            {% endif %}
                        </div>
                    {% endblock %}

{#                    {% block reiff_order_search_results_DEMO  %}#}

{#                        #}{# Accordion header with sorting #}
{#                        <div class="b2b-order-search-results-wrap">#}
{#                            {% block reiff_order_search_sorting_DEMO  %}#}
{#                                {% set sortingIcon %}#}
{#                                    {% sw_icon 'arrow-down-long-solid' style {#}
{#                                        'namespace': 'ReiffIntegrations'#}
{#                                    } %}#}
{#                                    {% sw_icon 'arrow-up-long-solid' style {#}
{#                                        'namespace': 'ReiffIntegrations'#}
{#                                    } %}#}
{#                                {% endset %}#}

{#                                <div class="container sorting-buttons">#}
{#                                    <div class="row">#}
{#                                        <div class="col">#}
{#                                            {{ "ReiffIntegrations.customer.orders.sorting.orderNumber"|trans|sw_sanitize }}#}
{#                                            <button type="button"#}
{#                                                    class="btn-sort"#}
{#                                                    data-sorting-type="by-order-number"#}
{#                                                    data-sorting-direction="default">#}
{#                                                {{ sortingIcon }}#}
{#                                            </button>#}
{#                                        </div>#}
{#                                        <div class="col">#}
{#                                            {{ "ReiffIntegrations.customer.orders.sorting.refNumber"|trans|sw_sanitize }}#}
{#                                            <button type="button"#}
{#                                                    class="btn-sort"#}
{#                                                    data-sorting-type="by-reference"#}
{#                                                    data-sorting-direction="default">#}
{#                                                {{ sortingIcon }}#}
{#                                            </button>#}
{#                                        </div>#}
{#                                        <div class="col">#}
{#                                            {{ "ReiffIntegrations.customer.orders.sorting.orderDate"|trans|sw_sanitize }}#}
{#                                            <button type="button"#}
{#                                                    class="btn-sort"#}
{#                                                    data-sorting-type="by-date"#}
{#                                                    data-sorting-direction="default">#}
{#                                                {{ sortingIcon }}#}
{#                                            </button>#}
{#                                        </div>#}
{#                                        <div class="col">#}
{#                                            {{ "ReiffIntegrations.customer.orders.sorting.orderStatus"|trans|sw_sanitize }}#}
{#                                            <button type="button"#}
{#                                                    class="btn-sort"#}
{#                                                    data-sorting-type="by-status"#}
{#                                                    data-sorting-direction="default">#}
{#                                                {{ sortingIcon }}#}
{#                                            </button>#}
{#                                        </div>#}
{#                                        <div class="col">#}
{#                                            {{ "ReiffIntegrations.customer.orders.sorting.orderTotal"|trans|sw_sanitize }}#}
{#                                            <button type="button"#}
{#                                                    class="btn-sort"#}
{#                                                    data-sorting-type="by-total"#}
{#                                                    data-sorting-direction="default">#}
{#                                                {{ sortingIcon }}#}
{#                                            </button>#}
{#                                        </div>#}
{#                                        <div class="col-1">#}
{#                                            {% sw_icon 'eye-open' %}#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% endblock %}#}

{#                            #}{# Results accordion #}
{#                            <div class="b2b-order-search-results" data-b2b-order-list="true">#}
{#                                {% sw_include '@Storefront/storefront/page/orders/index-testing.html.twig' with {#}
{#                                    orderNumber: '0013022533',#}
{#                                    orderReference: 'shop3000302/TEST6',#}
{#                                    orderDate: "now"|date("d M Y H:i", "Australia/Melbourne"),#}
{#                                    orderStatus: 'In Bearbeitung',#}
{#                                    orderTotal: '800.09'#}
{#                                } %}#}
{#                                {% sw_include '@Storefront/storefront/page/orders/index-testing.html.twig' with {#}
{#                                    orderNumber: '0013022537',#}
{#                                    orderReference: 'shop3000302/TEST3',#}
{#                                    orderDate: "now"|date("d M Y H:i", "Asia/Hong_Kong"),#}
{#                                    orderStatus: 'In Bearbeitung',#}
{#                                    orderTotal: '200.09'#}
{#                                } %}#}
{#                                {% sw_include '@Storefront/storefront/page/orders/index-testing.html.twig' with {#}
{#                                    orderNumber: '0013022536',#}
{#                                    orderReference: 'shop3000302/MANO',#}
{#                                    orderDate: "now"|date("d M Y H:i", "Asia/Hong_Kong"),#}
{#                                    orderStatus: 'In Bearbeitung',#}
{#                                    orderTotal: '1800.09'#}
{#                                } %}#}
{#                                {% sw_include '@Storefront/storefront/page/orders/index-testing.html.twig' with {#}
{#                                    orderNumber: '0013022534',#}
{#                                    orderReference: 'shop3000302/TEST4',#}
{#                                    orderDate: "now"|date("d M Y H:i", "America/New_York"),#}
{#                                    orderStatus: 'In Bearbeitung',#}
{#                                    orderTotal: '600.09'#}
{#                                } %}#}
{#                            </div>#}

{#                        </div>#}
{#                    {% endblock %}#}

                {% else %}

                    {% block reiff_order_search_sorting_wrap %}
                        <div class="b2b-order-search-results-wrap">
                            {% block reiff_order_search_sorting  %}
                                {% set sortingIcon %}
                                    {% sw_icon 'arrow-down-long-solid' style {
                                        'namespace': 'ReiffIntegrations'
                                    } %}
                                    {% sw_icon 'arrow-up-long-solid' style {
                                        'namespace': 'ReiffIntegrations'
                                    } %}
                                {% endset %}

                                <div class="container sorting-buttons">
                                    <div class="row">
                                        <div class="col">
                                            {{ "ReiffIntegrations.customer.orders.sorting.orderNumber"|trans|sw_sanitize }}
                                            <button type="button"
                                                    class="btn-sort"
                                                    data-sorting-type="by-order-number"
                                                    data-sorting-direction="default">
                                                {{ sortingIcon }}
                                            </button>
                                        </div>
                                        <div class="col">
                                            {{ "ReiffIntegrations.customer.orders.sorting.refNumber"|trans|sw_sanitize }}
                                            <button type="button"
                                                    class="btn-sort"
                                                    data-sorting-type="by-reference"
                                                    data-sorting-direction="default">
                                                {{ sortingIcon }}
                                            </button>
                                        </div>
                                        <div class="col">
                                            {{ "ReiffIntegrations.customer.orders.sorting.orderDate"|trans|sw_sanitize }}
                                            <button type="button"
                                                    class="btn-sort"
                                                    data-sorting-type="by-date"
                                                    data-sorting-direction="default">
                                                {{ sortingIcon }}
                                            </button>
                                        </div>
                                        <div class="col">
                                            {{ "ReiffIntegrations.customer.orders.sorting.orderStatus"|trans|sw_sanitize }}
                                            <button type="button"
                                                    class="btn-sort"
                                                    data-sorting-type="by-status"
                                                    data-sorting-direction="default">
                                                {{ sortingIcon }}
                                            </button>
                                        </div>
                                        <div class="col">
                                            {{ "ReiffIntegrations.customer.orders.sorting.orderTotal"|trans|sw_sanitize }}
                                            <button type="button"
                                                    class="btn-sort"
                                                    data-sorting-type="by-total"
                                                    data-sorting-direction="default">
                                                {{ sortingIcon }}
                                            </button>
                                        </div>
                                        <div class="col-1">
                                            {% sw_icon 'eye-open' %}
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}

                            {% block reiff_order_search_results  %}
                                <div class="b2b-order-search-results" data-b2b-order-list="false">
                                    {% for order in page.orders %}
                                        {% block reiff_order_list_row %}
                                            <div class="b2b-accordion"
                                                 data-sort-by-order-number="{{ order.number }}"
                                                 data-sort-by-reference="{{ order.reference?: '-' }}"
                                                 data-sort-by-date="{{ order.orderDate|format_date('medium', locale=app.request.locale) }}"
                                                 data-sort-by-status="{{ order.status }}"
                                                 data-sort-by-total="{{ order.netTotal }}">
                                                <div class="b2b-accordion__title ajax-panel-link"
                                                     data-bs-target="reiff-order-detail-{{ order.number }}"
                                                     data-href="{{ path('frontend.b2b.orders.detail', { orderNumber: order.number }) }}">
                                                    {% block reiff_order_list_row_overview %}

                                                        {# Set order status ampel #}
                                                        {% set orderStatusIndicator = 'cl-black' %}
                                                        {% set orderStatusOpen = ['in Bearbeitung'] %}
                                                        {% set orderStatusInProcess = ['teilweise abgeschlossen','teilweise bearbeitet'] %}
                                                        {% set orderStatusClosed = ['abgeschlossen','vollständig bearbeitet'] %}
                                                        {% if order.status in orderStatusOpen %}
                                                            {% set orderStatusIndicator = 'cl-black' %}
                                                        {% elseif order.status in orderStatusInProcess %}
                                                            {% set orderStatusIndicator = 'cl-yellow' %}
                                                        {% elseif order.status in orderStatusClosed %}
                                                            {% set orderStatusIndicator = 'cl-green' %}
                                                        {% endif %}

                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <span>{{ order.number }}</span>
                                                                </div>
                                                                <div class="col">
                                                                    <span>{{ order.reference?: '-' }}</span>
                                                                </div>
                                                                <div class="col">
                                                                    <span>{{ order.orderDate|format_date('medium', locale=app.request.locale) }}</span>
                                                                </div>
                                                                <div class="col">
                                                                    <span class="{{ orderStatusIndicator }}">{{ order.status }}</span>
                                                                </div>
                                                                <div class="col">
                                                                    <span>{{ order.netTotal|currency(decimals=decimals) }}</span>

                                                                    {# TODO: add whole order to cart #}
{#                                                                    {% sw_icon 'basket' style {#}
{#                                                                        'namespace': 'ReiffTheme'#}
{#                                                                    } %}#}

                                                                    {# TODO: add shipping tracking link #}
{#                                                                    {% sw_icon 'box-solid' style {#}
{#                                                                        'namespace': 'ReiffIntegrations'#}
{#                                                                    } %}#}
                                                                </div>
                                                                <div class="col-1">
                                                                    {% sw_icon 'arrow-head-down' style {
                                                                        size: 'xs'
                                                                    } %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endblock %}
                                                </div>
                                                <div class="b2b-accordion__body">
                                                    <div
                                                        class="b2b--ajax-panel"
                                                        data-id="reiff-order-detail-{{ order.number }}"
                                                        data-url=""
                                                    ></div>
                                                </div>
                                            </div>
                                        {% endblock %}
                                    {% endfor %}
                                </div>
                            {% endblock %}

                        </div>
                    {% endblock %}

                {% endif %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
